/* line 1, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_content.scss */ * { padding: 0; margin: 0; font-family: "Open Sans", sans-serif; }

/* line 7, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_content.scss */ body { width: 100%; background-color: #3CE7A2; color: #212121; }

/* line 13, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_content.scss */ .container { width: 100%; max-width: 500px; margin: 5% auto; padding: 2%; background-color: #ffffff; }

/* line 21, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_content.scss */ .react-logo { display: block; margin: 0 auto; height: 80px; }

/* line 1, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_list.scss */ .list { width: 50%; float: left; margin: 50px 0 30px 0; padding: 10px; box-sizing: border-box; }

/* line 7, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_list.scss */ .list ul { margin: 20px 20px; font-size: 11pt; }

/* line 11, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_list.scss */ .list li { margin: 10px 0; }

/* line 17, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_list.scss */ .done { display: inline-block; padding: 1px 3px 2px; float: right; margin-right: 10px; }

/* line 22, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_list.scss */ .done:hover { cursor: pointer; }

/* line 1, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_form.scss */ .form { clear: both; text-align: center; }

/* line 4, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_form.scss */ .form input { margin: 10px 10px 40px 0; }

/* line 7, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_form.scss */ .form input[type=submit]:hover { cursor: pointer; }

/* line 13, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_form.scss */ .form button { margin-bottom: 20px; padding: 2px 6px 3px; }

/* line 16, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_form.scss */ .form button:hover { cursor: pointer; }

@keyframes move { 0% { transform: translate(0, 50px); }
  50% { transform: translate(20px, 100px); }
  100% { transform: translate(0, 50px); } }

/* line 8, /Users/sobylmine/Wszystko/CODEWORK/react-with-kuba/didactic-fiesta/scss/partials/_animations.scss */ .spin { animation: spin 40s linear infinite; }

@keyframes spin { 100% { transform: rotate(1turn); } }
