* {
	padding: 0;
	margin: 0;
    font-family: $main-font;
}

body {
	width: 100%;
	background-color: $sky-blue;
    color: $white;
}

.container {
	width: 100%;
	max-width: 500px;
	margin: 5% auto;
    padding: 2%;
}

.content {
    margin-top: 50px; 
    font-weight: 100;
    text-align: center;
    font-size: 18px;
}