.form {
    clear: both;
    text-align: center;
    input {
        margin: 10px 10px 40px 0;
        &[type=submit] {
           &:hover {
                cursor: pointer;
            } 
        }
    }

    button {
        margin-bottom: 20px;
        padding: 2px 6px 3px;
        &:hover {
            cursor: pointer;
        }
    }
}