.list {
    width: 50%;
    float: left;
    margin: 50px 0 30px 0;
    padding: 10px;
    box-sizing: border-box;
    ul {
        margin: 20px 20px;
        font-size: 11pt;
    }
    li {
        margin: 10px 0;
    }

}

.to-do {
    display: inline-block;
    padding: 1px 3px 2px;
    float: right;
    margin-right: 10px;
    &:hover {
        cursor: pointer;
    }
}