* {
  margin: 0;
  padding: 0;
  background-color: pink;
}

body {
  height: 5500px;
  font-family: sans-serif;
  font-weight: 200;
}

#full {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  display: inline-block;
}

.pulse {

}