* {
	padding: 0;
	margin: 0;
    font-family: $main-font;
}

body {
	width: 100%;
	background-color: $crazy-green;
    color: $dark-grey;
}

.container {
	width: 100%;
	max-width: 500px;
	margin: 5% auto;
    padding: 2%;
    background-color: $white;
}

.react-logo {
    display: block;
    margin: 0 auto;
    height: 80px;
}