.weather-desc {
    margin: 10px 0;
    line-height: 30px;
    span {
        font-size: 24px;
        font-weight: 400;
    }
}

.weather-icon {
    display: inline-block;
    max-width: 35px;
    margin: 5px 0;
    background-color: $white-half;
    border-radius: 100%;
}

.weather-details {
    font-size: 14px;
    span {
        font-size: 18px;
        font-weight: 400;
    }
}